.gallery {
    overflow: hidden;
    
    &__item {
      max-width: 195px;
      background-size: cover !important;
      cursor: zoom-in;
    }
    &__img {
      max-width: 100%;
    }
  }

  .slick-next, .slick-prev {
    width: 130px;
    z-index: 100;
    top:45%;
  }
  
  .slick-next:before, .slick-prev:before {
    font-size: 50px;
  }