.zoom {
    position: absolute;
    z-index: 100;
    width: 100%;
    top:0;
  
  
    &__block {
      background: rgba(0, 0, 0, 0.897);
      left:15px;
      top:0;
      bottom: 0;
    }
  
    &__img {
      position: absolute;
      z-index: 1000;
      padding: 0;
      top: 20%;
      max-width: 400px;
      cursor: zoom-out;
    }
  
    @media screen and (max-width: 420px){
      &__img {
        top: 8%;
      }
    }
  
  }