.zoom {
     
    &__block {
      display: flex;
      justify-content: center;
      width: 100%;
      background: rgba(0, 0, 0, 0.897);
      top:0;
      bottom: 0;
      left: 15px;
      right: 0;
      z-index: 1000;
    }
  
    &__img {
      padding: 0;
      cursor: zoom-out;
    }
  
    @media screen and (max-width: 420px){
      &__img {
       max-width: 100%;
      }
    }
    @media (orientation: landscape) {
     
      &__img {
        height: 100%;
      }
    }

  }